In [1]:
import pandas as pd

In [31]:
df = pd.read_csv("diab_train_new.csv", index_col=0)
#ex_age = list(df.columns[:-1])
#for col in ex_age:
#    df[col] = (df[col] - df[col].mean())/df[col].std(ddof=0)
#df[['age'] + list(df.columns[:-1])].to_csv('out.csv', index=False)

In [32]:
df.describe()

,cg16984944,cg24046474,cg15361750,cg17274064,cg07979752,cg10637955,cg26079320,cg13150977,cg26149738,cg17142470,age
count,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,173.000000,174.000000
mean,-0.014546,-0.004561,0.017668,0.010089,-0.003535,-0.027146,0.011785,0.026216,0.003451,0.031516,16.367816
std,1.011649,1.019915,1.007986,1.021933,1.026412,1.007359,1.035174,1.018620,1.006496,1.021977,6.155246
min,-2.635223,-3.380779,-3.100795,-1.917590,-2.229541,-3.270880,-1.999947,-1.791747,-2.905580,-2.764939,1.000000
25%,-0.316653,-0.372279,-0.370832,-0.655772,-0.610060,-0.383056,-0.420793,-0.689272,-0.284343,-0.393945,12.000000
50%,0.035792,0.113747,0.141759,-0.116038,-0.099095,0.130496,-0.013748,-0.150463,0.195527,0.095916,16.000000
75%,0.427625,0.680880,0.709843,0.482396,0.481965,0.516412,0.402378,0.657297,0.653494,0.481346,20.000000
max,4.449347,2.324960,2.853089,4.757459,3.395574,2.745074,6.891585,5.486714,2.018788,6.185911,32.000000

In [29]:
df = pd.read_csv("healthy_train_new.csv", index_col=0)
#ex_age = list(df.columns[:-1])
#for col in ex_age:
#    df[col] = (df[col] - df[col].mean())/df[col].std(ddof=0)
#df[['age'] + list(df.columns[:-1])].to_csv('out.csv', index=False)

In [30]:
df.describe()

,cg16984944,cg24046474,cg15361750,cg17274064,cg07979752,cg10637955,cg26079320,cg13150977,cg26149738,cg17142470,age
count,858.000000,858.000000,858.000000,858.000000,858.000000,858.000000,858.000000,858.000000,858.000000,858.000000,858.000000
mean,-2.631256,-0.957319,1.814217,-1.784228,-1.300869,1.249311,-3.653451,-4.385224,-2.664168,-1.237045,30.160816
std,2.920014,3.139117,4.212812,2.482566,2.898540,2.044573,2.321417,2.969043,2.485932,2.676267,18.567445
min,-9.143192,-8.471951,-7.478951,-7.615005,-8.112683,-4.429676,-9.373476,-11.275666,-10.382718,-7.857226,1.000000
25%,-4.714996,-3.544075,-0.588708,-3.407921,-2.936090,-0.218632,-4.905677,-6.456819,-4.199975,-3.016891,17.000000
50%,-2.258748,-1.141430,1.277609,-1.944573,-1.373215,1.080366,-3.586879,-4.238551,-2.353632,-1.097001,27.000000
75%,-0.821434,1.608192,3.421230,-0.002635,0.148107,2.758312,-2.525793,-2.472217,-0.678409,0.143548,37.000000
max,7.827241,7.202050,16.086460,7.369812,7.172967,7.234833,4.275042,3.982835,3.339496,8.458369,114.000000

In [11]:
df = pd.read_csv("healthy_train_new.csv", index_col=0)
df[['age'] + list(df.columns[:-1])].to_csv('out.csv', index=False)